winIwant/Debug*/*
winIwant/winIwant/x64/*
winIwant/x64/*
winIwant/winIwant/Debug*/*
winIwant/.vs/*
*VC.db
*VC.VC.opendb
src/iwant
src/server
src/client
src/*.o
sample-code/win-test/Debug*/*
sample-code/win-test/x64/*
sample-code/win-test/.vs/*