winIwant/Debug*/*
winIwant/winIwant/x64/*
winIwant/x64/*
winIwant/winIwant/Debug*/*
winIwant/.vs/*
*VC.db
*VC.VC.opendb
src/iwant
src/server
src/client
src/*.o
src/dictionary/dictionary
sample-code/win-test/Debug*/*
sample-code/win-test/x64/*
sample-code/win-test/.vs/*
src/math/*.bat
src/math/*.exe
src/math/*.dll
src/string/*.bat
src/string/*.exe
src/string/*.dll
batch/*.exe
batch/*.dll
iwant
src/hardware/hardware
